{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block content %}

<div class="login-box">
  <!--<div class="login-logo">
      <h1>
          <picture>
              <source srcset="{% static 'img/logo.png'%}" media="(prefers-color-scheme: dark)">
               <img src="{% static 'img/logo.png'%}" alt="Fantasy Team Game">
          </picture>
      </h1>
  </div>-->

  <div class="card">
    
    <div class="mb-3 text-center">
      <div class="mt-4">
        <h3 class="fw-bold fs-h2 navy-blue">Login</h3>
      </div>
    </div>
    <div class="card-body">
          
  <p class="login-box-msg">Welcome to Sneaksaver</p>
  <form method="post" enctype="multipart/form-data"  novalidate="" class="needs-validation" id="form-signin"> {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <p class="form-text error-text text-danger">
      {{ form.non_field_errors.as_text }}
    </p>        
      
      <div class="input-group mb-3">
          <input type="email" name="login" class="form-control" placeholder="Email" required="">
          <div class="input-group-append">
              <div class="input-group-text">
                  <span class="fas fa-user"></span>
              </div>
          </div>
          <div class="invalid-feedback d-block form-text error-text text-danger">
            {{ form.login.errors.as_text }}
          </div>
          <div class="invalid-feedback">
            Valid Email Address is required
          </div>

      </div>
      <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Password" required="">
          <div class="input-group-append">
              <div class="input-group-text">
                  <span class="fas fa-lock"></span>
              </div>
          </div>
          <div class="d-block invalid-feedback form-text error-text text-danger">
            {{ form.password.errors.as_text }}
          </div> 
          <div class="invalid-feedback">
            Password is required
          </div>
      </div>
      
      
      <div class="row">
          <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">
                  Log in
              </button>
          </div>
      </div>
  </form>

      </div>
  </div>
</div>

<script src="{% static 'js/form-validation.js' %}"></script>
<script>

</script>
{% endblock %}
