{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block content %}

<div class="login-box">
  <!--<div class="login-logo">
      <h1>
          <picture>
              <source srcset="{% static 'img/logo.png'%}" media="(prefers-color-scheme: dark)">
               <img src="{% static 'img/logo.png'%}" alt="Fantasy Team Game">
          </picture>
      </h1>
  </div>-->

  <div class="card">
    
    <div class="mb-3 text-center">
      <div class="mt-4">
        <h3 class="fw-bold fs-h2 navy-blue">Sign up</h3>
      </div>
    </div>
    <div class="card-body">
          
  <p class="login-box-msg">Welcome to Sneaksaver</p>
  <form method="post" enctype="multipart/form-data"  novalidate="" class="needs-validation" id="form-signup">{% csrf_token %}

    <p class="form-text error-text text-danger">
      {{ form.non_field_errors.as_text }}
    </p>
    
    <div class="input-group mb-3">
      <input name="first_name" type="text" class="form-control" placeholder="First Name" required="" value="">
      <div class="input-group-append">
          <div class="input-group-text">
              <span class="fas fa-user"></span>
          </div>
      </div>
      <p class="form-text error-text text-danger invalid-feedback d-block">
        {{ form.first_name.errors.as_text }}
      </p> 
      <div class="invalid-feedback">
        First name is required
      </div>

    </div>

    <div class="input-group mb-3">
      <input name="last_name" type="text" class="form-control" placeholder="Last Name" required="" value="">
      <div class="input-group-append">
          <div class="input-group-text">
              <span class="fas fa-user"></span>
          </div>
      </div>
      <p class="form-text error-text text-danger invalid-feedback d-block">
        {{ form.last_name.errors.as_text }}
      </p> 
      <div class="invalid-feedback">
        Last name is required
      </div>

    </div>
      
      <div class="input-group mb-3">
          <input name="email" type="email" class="form-control" placeholder="Email" required="" value="">
          <div class="input-group-append">
              <div class="input-group-text">
                  <span class="fas fa-user"></span>
              </div>
          </div>
          <p class="form-text error-text text-danger invalid-feedback d-block">
            {{ form.email.errors.as_text }}
          </p> 
          <div class="invalid-feedback">
            Valid Email Address is required
          </div>

      </div>

      <div class="input-group mb-3">
        <input name="username" type="text" class="form-control" placeholder="Username" required="" value="">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-user-tie"></span>
            </div>
        </div>
        <p class="form-text error-text text-danger invalid-feedback d-block">
          {{ form.username.errors.as_text }}
        </p> 
        <div class="invalid-feedback">
          Valid Username is required
        </div>

    </div>


      <div class="input-group mb-3">
          <input name="password1" type="password" class="form-control" placeholder="Password" required="" value="">
          <div class="input-group-append">
              <div class="input-group-text">
                  <span class="fas fa-lock"></span>
              </div>
          </div>
          <p class="form-text error-text text-danger invalid-feedback d-block">
            {{ form.password1.errors.as_text }}
          </p> 
          <div class="invalid-feedback">
            Password is required
          </div>
      </div>
      

      <div class="input-group mb-3">
        <input name="password2" type="password" class="form-control" placeholder="Confirm Password" required="" value="">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
        <p class="form-text error-text text-danger invalid-feedback d-block">
          {{ form.password2.errors.as_text }}
        </p> 
        <div class="invalid-feedback">
          input the password again
        </div>
    </div>
      
      <div class="row">
          <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">
                  sign up
              </button>
          </div>
      </div>
  </form>

      </div>
  </div>
</div>

<script src="{% static 'js/form-validation.js' %}"></script>
{% endblock %}
