:root {
    --black:black;
    --lightgrey:rgb(156, 156, 156);
    --morelightgrey:hsl(0, 0%, 85%);
    --darkgrey:rgb(25, 25, 25);
    --darkgreyless:rgb(39, 39, 39);
    --white: white;
}

.body-dark .account_bg{
    background-color: var(--black);
    color: var(--white);
}

.account_bg{
    background-color: var(--white);
    border-radius: 5%;
    margin-bottom: 100px;
}
.navy-blue{
    color: var(--navy-blue);
}
.navy-blue a{
    color: var(--navy-blue);
    
}
.navy-blue a:hover{
    color: var(--nav-blue-dark);
}