.nav_toggle_btn{
    margin-left: auto;
    position: absolute;
    top:0;
    right: 13px;
}
.navbar-toggler-icon{
    color: var(--black);
}

.nav_head{
    display: flex;
    flex-basis: auto;
    color: var(--lightgrey);
    padding-top: 2%;
    padding-bottom: 2%;
}
.nav_head li .nav-link{
    color: var(--black);
}

.nav_head a:hover{
    color: var(--grey);
}
