{% load static %}

<div class=" container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <div class="row featurette mt-5">

        <div class="col-12">
            <div class="container">
                <div class="h1 container fw-bold text-center">
                    <div class="affilate">
                        <div class="fs-1">SNEAKSAVER</div>
                        <div class="">SNEAKSAVER</div>
                    </div>
                </div>
                <p class="fs-4 mt-2">
                    Ultimately, Sneaksavers is dedicated to helping sneaker enthusiasts 
                    prolong the life of their favorite footwear. By offering professional
                     cleaning services, high-quality maintenance products, and educational 
                     resources, we aim to empower users to take better care of their sneakers 
                     and ensure that they continue to look and feel their best for years to come.
                </p>
            </div>
        </div>
        
        <div class="col-12 mb-4 mt-5">
            <div class="container card p-0">
              <img src="{% static 'images/b2.jpg' %}" alt="sneak saver" class="bd-placeholder-img w-100">
            </div>
        </div>
    </div>
</div>