{% load static %}

<div class=" container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <div class="row featurette mt-5">

        <div class="col-12">
            <div class="container">
                <div class="h1 container fw-bold text-center">
                    <div class="affilate">
                        <div class="fs-1">SNEAKSAVER</div>
                        <div class="">SNEAKSAVER</div>
                    </div>
                </div>
                <p class="fs-4 mt-2">
                    developing and deploying SneakSaver as a finished functional platform embedded to meet the
                     requirements stated I will be using various skills and tools to help make sure that 
                     these requirements will be met. I will be discussing the tools and skills I will be 
                     utilising to create my Sneaker-recognition tool using machine-learning and optimizing
                      and maintaining high standards of the platform by using data analytics to track user 
                      insights on the platform.
                </p>
            </div>
        </div>
        
        <div class="col-12 mb-4 mt-5">
            <div class="container card p-0">
              <img src="{% static 'images/b2.jpg' %}" alt="sneak saver" class="bd-placeholder-img w-100">
            </div>
        </div>
    </div>
</div>