<div class="modal" id="nav-menu" tabindex="-1" aria-labelledby="nav-menu" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-fullscreen" style="height:100vh; width:70vw; color:var(--white);">
        <div class="modal-content">
            <div class="modal-header">
                {% if request.user.is_authenticated %}
                <div class="profile d-flex align-items-center">
                    <div style="width: 40px;" class="d-lg-block me-3 border rounded-5">
                        <img width="100%" class="rounded-5" src="{{request.user.user_profile.image_url}}" alt="{{reqest.user}} profile image">
                    </div>

                    <div>
                        <p class="m-0 p-0 fw-bolder fs-4">{{request.user.first_name}} {{request.user.last_name}}</p>
                        <p class="m-0 p-0">@{{request.user}}</p>
                    </div>
                </div>
                {%endif%}

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="sidebarMenu" class="">
                    <div class="nav_head ms-auto">
                        <ul class="me-auto mb-2 mb-lg-0">
                            <li class="nav-item mb-4">
                                <a class="navbar-brand fs-4 ms-3 underline" href="{% url 'index' %}">{% if request.user.is_authenticated %} <i class="fa fa-desktop me-2"></i> Dashboard{%else%} <i class="fa fa-home me-2"></i> Home{% endif %}</a>
                            </li>
                           
                            <div class="nav-item mb-4 d-grid align-items-center mx-auto">
                                <button class="btn btn-dark me-5 mode-btn" id="mode-btn" onclick="screenSwitcher(true)">
                                    <i class="fa-solid fa-sun me-2"></i> Dark theme: on
                                </button>
                                
                            </div>

                            <li class="nav-item mb-4">
                                <a class="navbar-brand fs-4 ms-3 underline" href="{% url 'pricing' %}"><i class="fa-regular fa-money-bill-1"></i> Pricing</a>
                            </li>

                            <li class="nav-item mb-4">
                                <a class="navbar-brand fs-4 ms-3 underline" href="{% url 'product' %}"><i class="fa-brands fa-product-hunt"></i> Product</a>
                            </li>

                            <li class="nav-item mb-4">
                                <a class="navbar-brand fs-4 ms-3 underline" href="{% url 'booking' %}"><i class="fa-solid fa-calendar-days"></i> Booking</a>
                            </li>
                            
                            {% if request.user.is_authenticated %}

                            <li class="nav-item mb-4">
                                <a class="navbar-brand fs-4 ms-3 underline" href=""><i class="fa fa-solid fa-bell me-2"></i> Notification</a>
                            </li>

                            <li class="nav-item mb-4">
                                <a class="navbar-brand fs-4 ms-3" href="{% url 'user:account_settings' %}"> <i class="fa fa-regular fa-user me-2"></i> User Profile</a>
                            </li>
                           
                            <li class="nav-item mb-4">
                                <a class="navbar-brand fs-4 ms-3" href="{% url 'account_logout' %}"> <i class="fa-solid fa-right-from-bracket me-2"></i> Logout</a>
                            </li>
                            {% else %}
                           
                            <li class="nav-item mb-4">
                                <a class="navbar-brand fs-4 ms-3" href="{% url 'account_login' %}"> <i class="fa-solid fa-right-to-bracket me-2"></i> Login</a>
                            </li>
                            <li class="nav-item mb-4">
                                <a class="navbar-brand fs-4 ms-3" href="{% url 'account_signup' %}"> <i class="fa-solid fa-user-plus me-2"></i> Sign up</a>
                            </li>
            
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>