{% load static %}


<section class="navbar-expand-md flex-md-nowrap p-0">
    {% include 'snippets/nav.html' %}

    <section class="py-4 navbar mt-0" id="sectionHeader">
        <div class="container">
            <div class="row d-flex justify-content-center py-md-3 align-items-center">
                <!--animation background-->
                <div class="area" >
                    <ul class="circles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div >
                <!--animation background end-->

                <div class="row d-flex justify-content-center py-md-3 align-items-center scroll-y-top-el">
                                    
                    <div class="col-lg-6 mx-auto ">                
                        <div class="p-0 justify-self-end">
                            <h1 class="text-center text-md-start h1 fw-bolder">SneakSaver</h1>
                            <p class="fs-3 mt-5 text-center text-md-start">
                                The platform will use machine learning which allows users to upload an image of the 
                                sneaker they would like to get clean service for by using the Sneaker recognition tool.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-lg-0 mt-sm-5 justify-self-end">
                        <div class=""> <!--style="background-image: url('{% static 'img/dashboard_desktop.png' %}'); background-size:cover; width:100%; height:100%;"-->
                            <div class="">
                                <img style="width: 100%; height:70%" src="{% static 'images/b3.jpg' %}" alt="">
                            </div>
                        </div>
                    </div> 
                </div>
    
            </div>

            
        </div>
    </section>
<section>