{%load static%}

<nav class="navbar blue-bg navbar-dark sticky-top">
    <a id="header-logo" class="navbar-brand col-md-3 col-lg-2 me-0 px-2 fs-4" href="{% url 'index' %}">

        <span class="navbar-brand h4">SneakSaver</span>
        <img src="{% static 'images/logo.png' %}" alt="logo" width="50">
    </a>

    <form class="d-flex mx-md-2 align-items-center me-5" method="get" action="{% url "search" %}">
        <input name="q" class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    
    <div class="nav-item d-none d-md-grid align-items-center mx-auto">
        <button class="btn btn-dark me-2" id="mode-btn">
            <i class="fa-solid fa-sun"></i>
        </button>
        
    </div>

    

    <button type="button" class="navbar-toggler nav_toggle_btn mx-auto px-2 d-flex collapsed mt-3 mb-1 ms-5" data-bs-toggle="modal" data-bs-target="#nav-menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="" class="collapse navbar-collapse me-5">
        <div class="nav_head ms-auto">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_admin %}
                <li class="nav-item mb-4">
                    <a class="navbar-brand fs-6 ms-3" href="/admin/">Admin</a>
                </li>
                {% endif %}
                <li class="nav-item mb-4">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'index' %}"> Home</a>
                </li>
                <li class="nav-item mb-4">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'pricing' %}"> Pricing</a>
                </li>

                {% if request.user.is_authenticated %}
                
                
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'user:account_settings' %}">Account Settings</a>
                </li>
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'account_logout' %}">Logout</a>
                </li>

                <li class="nav-item mb-1">
                    <div style="width: 40px;" class="ms-3 me-5 d-none d-lg-block border rounded-5">
                        <img width="100%" class="rounded-5" src="{{request.user.user_profile.image_url}}" alt="{{reqest.user.user_profile}} profile image">
                    </div>
                </li>
                {% else %}
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'account_login' %}">Login</a>
                </li>
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'account_signup' %}">Sign up</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>