{% extends 'base.html' %}

{% block title %}pricing{% endblock %}
{% load static %}

{% block content %}
	<style>
		.bg_image{
			height: 300px;
			object-fit: contain;
			overflow: hidden;
		}
		.col-md-6:hover{
			transform: translateY(-20px);
			transition: transform 1s ease-in-out;
		}
    main{
      color:var(--black);
    }
	</style>

    <header class="section">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Clean Pricing</h1>
            <p class="fs-5 text-muted">Select a Clean package and book on to clean sneakers.</p>
          </div>
    </header>
	<main class="mb-5">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col scroll-y-top-el">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Standard Clean</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">${{price_standard.service_price}}<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>10 sneakers</li>
                  <li>2 package</li>
                  <li>Email support</li>
                  <li>Help center access</li>
                </ul>
                <a href="{% url "booking" %}" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</a>
              </div>
            </div>
          </div>
          <div class="col scroll-x-top-el">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Deep Clean</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">${{price_deep.service_price}}<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>20 sneakers</li>
                  <li>10 package</li>
                  <li>Priority email support</li>
                  <li>Help center access</li>
                </ul>
                <a href="{% url "booking" %}" class="w-100 btn btn-lg btn-primary">Get started</a>
              </div>
            </div>
          </div>
          <div class="col scroll-y-top-el">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal">Platinum Clean</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">${{price_premium.service_price}}<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>30 sneakers</li>
                  <li>15 package</li>
                  <li>Phone and email support</li>
                  <li>Help center access</li>
                </ul>
                <a href="{% url "booking" %}" class="w-100 btn btn-lg btn-primary">Contact us</a>
              </div>
            </div>
          </div>
        </div>
    
        <h2 class="display-6 text-center mb-4">Compare plans</h2>
    
        <div class="table-responsive">
          <table class="table text-start bg-light">
            <thead>
              <tr>
                <th style="width: 34%;"></th>
                <th style="width: 22%;">Standard</th>
                <th style="width: 22%;">Deep</th>
                <th style="width: 22%;">Platinum</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-start">Price</th>
                <td>${{price_standard.service_price}}</td>               
                <td>${{price_deep.service_price}}</td>               
                <td>${{price_premium.service_price}}</td>               
              </tr>
            </tbody>
            <tbody>
              
              <tr>
                <th scope="row" class="text-start">Details</th>
                <td>
                  for sneakers that are in need of a regular refresh. This level of service is ideal for general maintenance to keep sneakers looking clean and presentable.  
                  To remove everyday dirt, dust, and light stains, ensuring that they look fresh and well-maintained. 
                  The Standard Cleaning Service is perfect for sneakers that have been lightly worn and need a routine cleanup to keep them looking their best.
                </td>
                <td>
                  sneakers that require intensive restoration. For shoes with stubborn stains, deeply ingrained dirt, or strong odors.  Perfect for sneakers that 
                  have been well-worn or have gone through heavy use and need a thorough rejuvenation.
                </td>
                <td>
                  Our Premium Cleaning Service is the pinnacle of sneaker care. This level of service includes a combination of deep cleaning and premium conditioning to ensure 
                  that sneakers receive the utmost care and attention. Our team will meticulously clean the shoes with specialized techniques, paying close attention to detail 
                  to ensure that every aspect of the sneakers is thoroughly cared for.
                </td>
              </tr>
              
            </tbody>
            <tbody>
              <tr>
                <th scope="row" class="text-start">Addition</th>
                <td></td>
                <td></td>
                <td>
                  Additionally, premium conditioning products will be applied to rejuvenate and protect the 
                  material, leaving the sneakers looking and feeling as good as new. The Premium Cleaning Service is the perfect choice for those looking to give their sneakers 
                  a comprehensive and luxurious treatment.
                </td>
                
              </tr>
            </tbody>
    
          </table>
        </div>
      </main>
{% endblock %}
