{% extends 'base.html' %}

{% block title %}product{% endblock %}
{% load static %}

{% block content %}
	<style>
		.bg_image{
			height: 300px;
			object-fit: contain;
			overflow: hidden;
		}
		.col-md-6:hover{
			transform: translateY(-20px);
			transition: transform 1s ease-in-out;
		}
	</style>

	<div class="container-fluid" style="overflow-x: hidden;">
		<div class="row">
			<main class="ms-sm-auto px-md-4">

				<div class="section container">
					<h2 class="fw-bold h1 mb-5">Sneakers</h2>
					<div class="row align-items-md-stretch">
						{% for products in all_product %}
							<div class="col-md-6 mb-3 {% cycle 'scroll-x-down-el' 'scroll-x-top-el' %}">
								
								<div class="h-100 p-5 bg-light border rounded-3">
									<div class="container bg_image">
										<img class="w-100" src="{{products.image_url}}" alt="">
									</div>
									<h2>{{products.name}}</h2>
									<p>{{products.description | truncatewords:50}}</p>
									<div class="d-flex justify-content-between align-items-center">
										<p class="text-end fw-bold fs-5">${{products.price}}</p>
										<a href='{{products.get_absolute_url}}' class="btn btn-outline-secondary border-none">View</a>
									</div>
									
								</div>
							</div>
						{% endfor %}
					</div>

					<div class="blog-pagination " aria-label="Pagination">
						<a class="btn btn-outline-primary {% if not all_product.has_previous  %}disabled {% endif %}"{% if all_product.has_previous  %}href="?{% if query %}q={{query}}&{% endif %}page={{all_product.previous_page_number}}"{% else %} href="" tabindex="-1"{% endif %}>Older</a>

						<a class="btn btn-outline-secondary {% if not all_product.has_next %}disabled {% endif %}" {% if all_product.has_next  %} href="?{% if query %}q={{query}}&{% endif %}page={{all_product.next_page_number}}"{% else %} href="" tabindex="-1"{% endif %} >Newer</a>
					</div>
					
				</div>

				{% include 'snippets/carousel.html' %}

				<div>
					<div class="section navbar container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
						<div class="row featurette mt-5 align-items-center mb-3">
							<div class="col-md-6 mb-3 scroll-x-down-el scroll-y-top-el">
								<div class="fs-1 fw-bold text-start">
									<strong>Featured</strong>
								</div>
								<p class="fs-3 text-start">
									No matter which level of service is chosen, Sneaksavers is committed to providing the highest quality care for sneakers. Our professional cleaning services are designed to meet the diverse needs of our customers, ensuring that every pair of sneakers receives the specialized treatment it deserves.
								</p>
							</div>
	
							<div class="col mt-lg-0 mt-sm- fw-bold fs-55 order-lg-last">
								<div
									class="h-100 shadow">
									<!-- style="background-image: url('{% static 'img/dashboard_desktop.png' %}'); background-size:cover; width:100%; height:100%;" -->
									<div class="">
										<img style="width: 100%;" src="{% static 'images/b2.jpg' %}" alt="Sneaksaver"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				


				<div class="section container-lg d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
					<div class="featurette mt-5">
						<div class="h4 fw-bold text-center">CONNET WITH US</div>
						<div class="d-flex justify-content-between">
							<a target="blank" href="#" class="connet-bg rounded-3 bg-gradient">
								<i class="fa-brands fa-facebook fa-2x align-self-center"></i>
							</a>
							<a target="blank" href="#" class="connet-bg rounded-3 bg-gradient">
								<i class="fa-brands fa-instagram fa-2x align-self-center"></i>
							</a>
							<a target="blank" href="#" class="connet-bg rounded-3 bg-gradient">
								<i class="fa-brands fa-twitter fa-2x align-self-center"></i>
							</a>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
{% endblock %}
