{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static %}

{% block content %}
	<style>
		.bg_image{
			height: 300px;
			object-fit: contain;
			overflow: hidden;
		}
		.col-md-6:hover{
			transform: translateY(-20px);
			transition: transform 1s ease-in-out;
		}
		.p-link:hover{
			background-color: var(--grey);
			transition: 1s background-color ease;
		}

	</style>

	<div class="container-fluid" style="overflow-x: hidden;">
		<div class="row">
			<main class="ms-sm-auto px-md-4">

				<div class="section container">
					<div class="p-4 p-md-5 mb-4 mb-4 text-white rounded bg-dark" id="sneak-bg">
						<div class="col-md-6 px-0">
						  <h1 class="display-4 fst-italic">Premium Cleaning Service.</h1>
						  <p class="lead my-3">
							At Sneaksavers, we understand that every pair of sneakers deserves the best
							 care possible. That's why we offer three levels of professional cleaning services 
							 - Deep, Standard, and Premium - to cater to the varying needs of our customers.
						  </p>
						  <p class="lead mb-0"><a href="{% url "pricing" %}" class="text-white fw-bold">continue...</a></p>
						</div>
					</div>

					<div class="row align-items-md-stretch">
						<h2 class="fw-bold h1 mb-5">Sneakers</h2>

						{% for products in product %}
							<div class="col-md-6 mb-3 {% cycle 'scroll-x-down-el' 'scroll-x-top-el' %}">
								
								<div class="h-100 p-5 bg-light border rounded-3">
									<div class="container bg_image">
										<img class="w-100" src="{{products.image_url}}" alt="">
									</div>
									<h2>{{products.name}}</h2>
									<p>{{products.description | truncatewords:50}}</p>
									<div class="d-flex justify-content-between align-items-center">
										<p class="text-end fw-bold fs-5">${{products.price}}</p>
										<a href='{{products.get_absolute_url}}' class="btn btn-outline-secondary border-none">View</a>
									</div>
									
								</div>
							</div>
						{% endfor %}


					</div>
					<a href="{% url 'product' %}" class="blue-bg p-2 px-4 btn mt-3 mb-5 p-link fs-3" > More >></a>

				</div>

				<div class="section container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
					<div class="row featurette align-items-center">

						   
						<div class="col-12 scroll-x-down-el">
							<div class="fs-1 fw-bold text-center">Seamless User Experience</div>                        
							<p class="fs-3 text-center">Create an intuitive, user-friendly platform that offers a seamless experience for both beginners and experienced users, allowing them to easily navigate and maximize their resources.</p>
						</div>

						<div class="col-12 scroll-x-top-el">
							<div class="fs-1 fw-bold text-center">Standard Cleaning Service</div>                        
							<p class="fs-3 text-center">The Standard Cleaning Service is suited for sneakers that are in need of a regular refresh. This level of service is ideal for general maintenance to keep sneakers looking clean and presentable.</p>
						</div>

						<div class="col-12 scroll-x-down-el">
							<div class="fs-1 fw-bold text-center">Deep Cleaning Service</div>                        
							<p class="fs-3 text-center">Our Deep Cleaning Service is designed for sneakers that require intensive restoration. This level of service is ideal for shoes with stubborn stains, deeply ingrained dirt, or strong odors.</p>
						</div> 

						<div class="col-12 scroll-x-top-el">
							<div class="fs-1 fw-bold text-center">Premium Cleaning Service</div>                        
							<p class="fs-3 text-center">Our Premium Cleaning Service is the pinnacle of sneaker care. This level of service includes a combination of deep cleaning and premium conditioning to ensure that sneakers receive the utmost care and attention. Our team will meticulously clean the shoes with specialized techniques, paying close attention to detail to ensure that every aspect of the sneakers is thoroughly cared for.</p>
						</div>                   
					</div>
				</div>

				{% include 'snippets/carousel.html' %}

				<div>
					<div class="section navbar container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3">
						<div class="row featurette mt-5 align-items-center mb-3">
							<div class="col-md-6 mb-3 scroll-x-down-el scroll-y-top-el">
								<div class="fs-1 fw-bold text-start">
									<strong>We Give the best Service</strong>
								</div>
								<p class="fs-3 text-start">
									No matter which level of service is chosen, Sneaksavers is committed to providing the highest quality care for sneakers. Our professional cleaning services are designed to meet the diverse needs of our customers, ensuring that every pair of sneakers receives the specialized treatment it deserves.
								</p>
							</div>
	
							<div class="col mt-lg-0 mt-sm- fw-bold fs-55 order-lg-last">
								<div
									class="h-100 shadow">
									<!-- style="background-image: url('{% static 'img/dashboard_desktop.png' %}'); background-size:cover; width:100%; height:100%;" -->
									<div class="">
										<img style="width: 100%;" src="{% static 'images/b2.jpg' %}" alt="Sneaksaver"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

				{% include 'snippets/affilate_ads.html' %}

				<div class="section container-lg d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3">
					<div class="featurette mt-5">
						<div class="h4 fw-bold text-center">CONNET WITH US</div>
						<div class="d-flex justify-content-between">
							<a target="blank" href="#" class="connet-bg rounded-3 bg-gradient">
								<i class="fa-brands fa-facebook fa-2x align-self-center"></i>
							</a>
							<a target="blank" href="#" class="connet-bg rounded-3 bg-gradient">
								<i class="fa-brands fa-instagram fa-2x align-self-center"></i>
							</a>
							<a target="blank" href="#" class="connet-bg rounded-3 bg-gradient">
								<i class="fa-brands fa-twitter fa-2x align-self-center"></i>
							</a>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
{% endblock %}
